# Regression Week 5: Feature Selection and LASSO (Interpretation)

In this notebook, you will use LASSO to select features, building on a pre-implemented solver for LASSO (using GraphLab Create, though you can use other solvers). You will:
* Run LASSO with different L1 penalties.
* Choose best L1 penalty using a validation set.
* Choose best L1 penalty using a validation set, with additional constraint on the size of subset.

In the second notebook, you will implement your own LASSO solver, using coordinate descent.

# Fire up Graphlab Create

In [1]:
import graphlab
import numpy as np

# Load in house sales data

Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\mpariani\AppData\Local\Temp\graphlab_server_1502046188.log.0

This non-commercial license of GraphLab Create for academic use is assigned to mpariani@uos.de and will expire on July 31, 2018.

# Create new features

As in Week 2, we consider features that are some transformations of inputs.

In [3]:
from math import log, sqrt
sales['sqft_living_sqrt'] = sales['sqft_living'].apply(sqrt)
sales['sqft_lot_sqrt'] = sales['sqft_lot'].apply(sqrt)
sales['bedrooms_square'] = sales['bedrooms']*sales['bedrooms']

# In the dataset, 'floors' was defined with type string, 
# so we'll convert them to float, before creating a new feature.
sales['floors'] = sales['floors'].astype(float) 
sales['floors_square'] = sales['floors']*sales['floors']

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this variable will mostly affect houses with many bedrooms.
* On the other hand, taking square root of sqft_living will decrease the separation between big house and small house. The owner may not be exactly twice as happy for getting a house that is twice as big.

# Learn regression weights with L1 penalty

Let us fit a model with all the features available, plus the features we just created above.

In [4]:
all_features = ['bedrooms', 'bedrooms_square',
            'bathrooms',
            'sqft_living', 'sqft_living_sqrt',
            'sqft_lot', 'sqft_lot_sqrt',
            'floors', 'floors_square',
            'waterfront', 'view', 'condition', 'grade',
            'sqft_above',
            'sqft_basement',
            'yr_built', 'yr_renovated']

Applying L1 penalty requires adding an extra parameter (`l1_penalty`) to the linear regression call in GraphLab Create. (Other tools may have separate implementations of LASSO.)  **Note that it's important to set `l2_penalty=0` to ensure we don't introduce an additional L2 penalty. **

In [5]:
model_all = graphlab.linear_regression.create(sales, target='price', features=all_features,
                                              validation_set=None, verbose=False,
                                              l2_penalty=0, l1_penalty=1e10)

Find what features had non-zero weight.

In [6]:
model_all['coefficients'].print_rows(num_rows=18, num_columns=4)

+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None |  274873.05595 |  None  |
|     bedrooms     |  None |      0.0      |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 8468.53108691 |  None  |
|   sqft_living    |  None | 24.4207209824 |  None  |
| sqft_living_sqrt |  None | 350.060553386 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 842.068034898 |  None  |
|    sqft_above    |  None | 20.0247224171 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

Note that a majority of the weights have been set to zero. So by setting an L1 penalty that's large enough, we are performing a subset selection. 

***QUIZ QUESTION***:
According to this list of weights, which of the features have been chosen? 

** (intercept), bathrooms, sqft_living, sqft_living_sqrt, grade, sqft_above **

# Selecting an L1 penalty

To find a good L1 penalty, we will explore multiple values using a validation set. Let us do three way split into train, validation, and test sets:
* Split our sales data into 2 sets: training and test
* Further split our training data into two sets: train, validation

Be *very* careful that you use seed = 1 to ensure you get the same answer!

In [7]:
(training_and_validation, testing) = sales.random_split(.9,seed=1) # initial train/test split
(training, validation) = training_and_validation.random_split(0.5, seed=1) # split training into train and validate

Next, we write a loop that does the following:
* For `l1_penalty` in [10^1, 10^1.5, 10^2, 10^2.5, ..., 10^7] (to get this in Python, type `np.logspace(1, 7, num=13)`.)
    * Fit a regression model with a given `l1_penalty` on TRAIN data. Specify `l1_penalty=l1_penalty` and `l2_penalty=0.` in the parameter list.
    * Compute the RSS on VALIDATION data (here you will want to use `.predict()`) for that `l1_penalty`
* Report which `l1_penalty` produced the lowest RSS on validation data.

When you call `linear_regression.create()` make sure you set `validation_set = None`.

Note: you can turn off the print out of `linear_regression.create()` with `verbose = False`

In [8]:
y = validation['price']
validation.remove_columns(['price'])
err = []

for penalty in np.logspace(1, 7, num=13):
    model = graphlab.linear_regression.create(training, target='price', features=all_features,
                                              validation_set=None, verbose=False,
                                              l2_penalty=0, l1_penalty=penalty)
    RSS = sum((y - model.predict(validation))**2)
    err.append(RSS)
    print 'Penalty: ', penalty, 'RSS: ', RSS
    
val, idx = min((val, idx) for (idx, val) in enumerate(err))
print
print 'Lowest index: ', idx

Penalty:  10.0 RSS:  6.25766285142e+14
Penalty:  31.6227766017 RSS:  6.25766285362e+14
Penalty:  100.0 RSS:  6.25766286058e+14
Penalty:  316.227766017 RSS:  6.25766288257e+14
Penalty:  1000.0 RSS:  6.25766295212e+14
Penalty:  3162.27766017 RSS:  6.25766317206e+14
Penalty:  10000.0 RSS:  6.25766386761e+14
Penalty:  31622.7766017 RSS:  6.25766606749e+14
Penalty:  100000.0 RSS:  6.25767302792e+14
Penalty:  316227.766017 RSS:  6.25769507644e+14
Penalty:  1000000.0 RSS:  6.25776517727e+14
Penalty:  3162277.66017 RSS:  6.25799062845e+14
Penalty:  10000000.0 RSS:  6.25883719085e+14

Lowest index:  0

*** QUIZ QUESTION. *** What was the best value for the `l1_penalty`?

In [9]:
# 10.0

In [10]:
validation['price'] = y

model = graphlab.linear_regression.create(validation, target='price', features=all_features,
                                              validation_set=None, verbose=False,
                                              l2_penalty=0, l1_penalty=10.0)
model['coefficients'].print_rows(num_rows=18, num_columns=4)

+------------------+-------+------------------+--------+
|       name       | index |      value       | stderr |
+------------------+-------+------------------+--------+
|   (intercept)    |  None |   21251.456037   |  None  |
|     bedrooms     |  None |  8023.23712748   |  None  |
| bedrooms_square  |  None |  2315.12367247   |  None  |
|    bathrooms     |  None |   23478.596342   |  None  |
|   sqft_living    |  None |  35.8035138152   |  None  |
| sqft_living_sqrt |  None |  1081.33507648   |  None  |
|     sqft_lot     |  None | -0.0262827717894 |  None  |
|  sqft_lot_sqrt   |  None |  145.436647604   |  None  |
|      floors      |  None |   20447.520062   |  None  |
|  floors_square   |  None |   11514.116277   |  None  |
|    waterfront    |  None |  595536.451305   |  None  |
|       view       |  None |  95362.3454158   |  None  |
|    condition     |  None |  7063.68121335   |  None  |
|      grade       |  None |   6191.241929    |  None  |
|    sqft_above    |  None |  39.2366857593   |  None  |
|  sqft_basement   |  None |   116.06067067   |  None  |
|     yr_built     |  None |  10.5801397605   |  None  |
|   yr_renovated   |  None |  64.8466733814   |  None  |
+------------------+-------+------------------+--------+
[18 rows x 4 columns]

***QUIZ QUESTION***
Also, using this value of L1 penalty, how many nonzero weights do you have?

In [11]:
# 18

# Limit the number of nonzero weights

What if we absolutely wanted to limit ourselves to, say, 7 features? This may be important if we want to derive "a rule of thumb" --- an interpretable model that has only a few features in them.

In this section, you are going to implement a simple, two phase procedure to achive this goal:
1. Explore a large range of `l1_penalty` values to find a narrow region of `l1_penalty` values where models are likely to have the desired number of non-zero weights.
2. Further explore the narrow region you found to find a good value for `l1_penalty` that achieves the desired sparsity.  Here, we will again use a validation set to choose the best value for `l1_penalty`.

In [12]:
max_nonzeros = 7

## Exploring the larger range of values to find a narrow range with the desired sparsity

Let's define a wide range of possible `l1_penalty_values`:

In [13]:
l1_penalty_values = np.logspace(8, 10, num=20)
#print len(l1_penalty_values) #20
print l1_penalty_values[0]

100000000.0

Now, implement a loop that search through this space of possible `l1_penalty` values:

* For `l1_penalty` in `np.logspace(8, 10, num=20)`:
    * Fit a regression model with a given `l1_penalty` on TRAIN data. Specify `l1_penalty=l1_penalty` and `l2_penalty=0.` in the parameter list. When you call `linear_regression.create()` make sure you set `validation_set = None`
    * Extract the weights of the model and count the number of nonzeros. Save the number of nonzeros to a list.
        * *Hint: `model['coefficients']['value']` gives you an SArray with the parameters you learned.  If you call the method `.nnz()` on it, you will find the number of non-zero parameters!*

In [14]:
y = validation['price']
validation.remove_columns(['price'])
print

Columns:
	id	str
	date	datetime
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	sqft_living_sqrt	float
	sqft_lot_sqrt	float
	bedrooms_square	float
	floors_square	float

Rows: 9635

Data:
+------------+---------------------------+----------+-----------+-------------+
|     id     |            date           | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |   3.0    |    1.0    |    1180.0   |
| 6414100192 | 2014-12-09 00:00:00+00:00 |   3.0    |    2.25   |    2570.0   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |   2.0    |    1.0    |    770.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |   3.0    |    2.0    |    1680.0   |
| 1321400060 | 2014-06-27 00:00:00+00:00 |   3.0    |    2.25   |    1715.0   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |   3.0    |    1.5    |    1060.0   |
| 2414600126 | 2015-04-15 00:00:00+00:00 |   3.0    |    1.0    |    1780.0   |
| 1736800520 | 2015-04-03 00:00:00+00:00 |   3.0    |    2.5    |    3560.0   |
| 1875500060 | 2014-07-31 00:00:00+00:00 |   3.0    |    2.0    |    1890.0   |
| 7983200060 | 2015-04-24 00:00:00+00:00 |   3.0    |    1.0    |    1250.0   |
+------------+---------------------------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |  1.0   |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |  2.0   |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |  1.0   |     0      |  0   |     3     |   6   |    770     |       0       |
|   8080   |  1.0   |     0      |  0   |     3     |   8   |    1680    |       0       |
|   6819   |  2.0   |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |  1.0   |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |  1.0   |     0      |  0   |     3     |   7   |    1050    |      730      |
|   9796   |  1.0   |     0      |  0   |     3     |   8   |    1860    |      1700     |
|  14040   |  2.0   |     0      |  0   |     3     |   7   |    1890    |       0       |
|   9774   |  1.0   |     0      |  0   |     4     |   7   |    1250    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 |
+----------+--------------+---------+-------------+---------------+---------------+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    |
|   1965   |      0       |  98007  | 47.60065993 | -122.14529566 |     2210.0    |
|   1994   |      0       |  98019  | 47.72770816 | -121.96189859 |     1890.0    |
|   1969   |      0       |  98003  | 47.33426258 |  -122.305714  |     1280.0    |
+----------+--------------+---------+-------------+---------------+---------------+
+------------+-----+
| sqft_lot15 | ... |
+------------+-----+
|   5650.0   | ... |
|   7639.0   | ... |
|   8062.0   | ... |
|   7503.0   | ... |
|   6819.0   | ... |
|   9711.0   | ... |
|   8113.0   | ... |
|   8925.0   | ... |
|  14018.0   | ... |
|   8850.0   | ... |
+------------+-----+
[9635 rows x 24 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
err = []

for penalty in l1_penalty_values:
    model = graphlab.linear_regression.create(training, target='price', features=all_features,
                                              validation_set=None, verbose=False,
                                              l2_penalty=0, l1_penalty=penalty)
    RSS = sum((y - model.predict(validation))**2)
    err.append(RSS)
    #print 'Penalty: ', penalty, 'RSS: ', RSS
    print penalty, '---', model['coefficients']['value'].nnz()    
    
#val, idx = min((val, idx) for (idx, val) in enumerate(err))
#print
#print 'Lowest index: ', idx

100000000.0 --- 18
127427498.57 --- 18
162377673.919 --- 18
206913808.111 --- 18
263665089.873 --- 17
335981828.628 --- 17
428133239.872 --- 17
545559478.117 --- 17
695192796.178 --- 17
885866790.41 --- 16
1128837891.68 --- 15
1438449888.29 --- 15
1832980710.83 --- 13
2335721469.09 --- 12
2976351441.63 --- 10
3792690190.73 --- 6
4832930238.57 --- 5
6158482110.66 --- 3
7847599703.51 --- 1
10000000000.0 --- 1

Out of this large range, we want to find the two ends of our desired narrow range of `l1_penalty`.  At one end, we will have `l1_penalty` values that have too few non-zeros, and at the other end, we will have an `l1_penalty` that has too many non-zeros.  

More formally, find:
* The largest `l1_penalty` that has more non-zeros than `max_nonzeros` (if we pick a penalty smaller than this value, we will definitely have too many non-zero weights)
    * Store this value in the variable `l1_penalty_min` (we will use it later)
* The smallest `l1_penalty` that has fewer non-zeros than `max_nonzeros` (if we pick a penalty larger than this value, we will definitely have too few non-zero weights)
    * Store this value in the variable `l1_penalty_max` (we will use it later)


*Hint: there are many ways to do this, e.g.:*
* Programmatically within the loop above
* Creating a list with the number of non-zeros for each value of `l1_penalty` and inspecting it to find the appropriate boundaries.

In [17]:
l1_penalty_min = 2976351441.63
l1_penalty_max = 3792690190.73

***QUIZ QUESTION.*** What values did you find for `l1_penalty_min` and `l1_penalty_max`, respectively? 

l1_penalty_min = 2,976,351,441
l1_penalty_max = 3,792,690,190

## Exploring the narrow range of values to find the solution with the right number of non-zeros that has lowest RSS on the validation set 

We will now explore the narrow region of `l1_penalty` values we found:

In [18]:
l1_penalty_values = np.linspace(l1_penalty_min,l1_penalty_max,20)

* For `l1_penalty` in `np.linspace(l1_penalty_min,l1_penalty_max,20)`:
    * Fit a regression model with a given `l1_penalty` on TRAIN data. Specify `l1_penalty=l1_penalty` and `l2_penalty=0.` in the parameter list. When you call `linear_regression.create()` make sure you set `validation_set = None`
    * Measure the RSS of the learned model on the VALIDATION set

Find the model that the lowest RSS on the VALIDATION set and has sparsity *equal* to `max_nonzeros`.

In [21]:
err = []
spars_max_nonzeros_true = []

for penalty in l1_penalty_values:
    model = graphlab.linear_regression.create(training, target='price', features=all_features,
                                              validation_set=None, verbose=False,
                                              l2_penalty=0, l1_penalty=penalty)
    RSS = sum((y - model.predict(validation))**2)
    err.append(RSS)
    #print 'Penalty: ', penalty, 'RSS: ', RSS
    if model['coefficients']['value'].nnz() == max_nonzeros:
        #spars_max_nonzeros_true.append((penalty, RSS))
        print penalty, RSS
        print model['coefficients'].print_rows(num_rows=18, num_columns=4)

3448968612.16 1.04693748875e+15
+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None | 222253.192544 |  None  |
|     bedrooms     |  None | 661.722717782 |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 15873.9572593 |  None  |
|   sqft_living    |  None | 32.4102214513 |  None  |
| sqft_living_sqrt |  None | 690.114773313 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 2899.42026975 |  None  |
|    sqft_above    |  None | 30.0115753022 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

None
3491933809.48 1.05114762561e+15
+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None | 224545.136501 |  None  |
|     bedrooms     |  None | 496.983429977 |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 15640.8229131 |  None  |
|   sqft_living    |  None | 32.2039341994 |  None  |
| sqft_living_sqrt |  None | 678.904419357 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None |  2825.4694254 |  None  |
|    sqft_above    |  None |  29.715599776 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

None
3534899006.8 1.05599273534e+15
+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None | 226807.047234 |  None  |
|     bedrooms     |  None | 322.098888436 |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 15392.9565223 |  None  |
|   sqft_living    |  None | 31.9817554069 |  None  |
| sqft_living_sqrt |  None | 666.949904077 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 2747.52787565 |  None  |
|    sqft_above    |  None | 29.4061078857 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

None
3577864204.12 1.06079953176e+15
+------------------+-------+---------------+--------+
|       name       | index |     value     | stderr |
+------------------+-------+---------------+--------+
|   (intercept)    |  None | 229077.875448 |  None  |
|     bedrooms     |  None | 149.417508491 |  None  |
| bedrooms_square  |  None |      0.0      |  None  |
|    bathrooms     |  None | 15146.7392756 |  None  |
|   sqft_living    |  None | 31.7586377842 |  None  |
| sqft_living_sqrt |  None |  655.07824878 |  None  |
|     sqft_lot     |  None |      0.0      |  None  |
|  sqft_lot_sqrt   |  None |      0.0      |  None  |
|      floors      |  None |      0.0      |  None  |
|  floors_square   |  None |      0.0      |  None  |
|    waterfront    |  None |      0.0      |  None  |
|       view       |  None |      0.0      |  None  |
|    condition     |  None |      0.0      |  None  |
|      grade       |  None | 2670.25064395 |  None  |
|    sqft_above    |  None | 29.0979663052 |  None  |
|  sqft_basement   |  None |      0.0      |  None  |
|     yr_built     |  None |      0.0      |  None  |
|   yr_renovated   |  None |      0.0      |  None  |
+------------------+-------+---------------+--------+
[18 rows x 4 columns]

None

***QUIZ QUESTIONS***
1. What value of `l1_penalty` in our narrow range has the lowest RSS on the VALIDATION set and has sparsity *equal* to `max_nonzeros`?
2. What features in this model have non-zero coefficients?

In [ ]:
# 1) 3448968612.16
# 2) (intercept), bedrooms, bathrooms, sqft_living, sqft_living_sqrt, grade, sqft_above